<footer class="footer">
    <div class="footer__aside">
        <div  class="footer__aside__item">
            <p class="footer__aside__item__text">© formula-Project</p>
       </div>
        <div  class="footer__aside__item">
            <a href="#" class="footer__aside__item__link">Formula 1</a>
       </div>
        <div  class="footer__aside__item">
            <p class="footer__aside__item__text">Onurcan DEDELIOGLU</p>
       </div>
    </div>
</footer>