<nav class="header__nav">
    <div class="header__nav__aside" data-aside>
        <a class="header__nav__logo" href="/home" data-logo>FORMULA 1 PROJECT</a>
        <div class="header__nav__hamburger" data-menu>
            <span class="header__nav__hamburger__line"></span>
            <span class="header__nav__hamburger__line"></span>
            <span class="header__nav__hamburger__line"></span>
        </div>
        <div class="header__nav__links" data-nav>
            <a class="header__nav__links__url" href="/home" data-link>Home</a>
            <a class="header__nav__links__url" href="/teams" data-link>Teams</a>
            <a class="header__nav__links__url" href="/grandprix" data-link>Grand Prix</a>
            <a class="header__nav__links__url" href="/contact" data-link>Contact</a>
        </div>
    </div>
</nav>