{% extends "./templates/static-template.njk" %}

{% block css %}
    <link rel="stylesheet" href="./assets/css/success.css">
{% endblock %} 

{% block main %}
    {% include "./pages/404/_404.njk" %}
{% endblock %}
