{% extends "./templates/base-template.njk" %}

{% block css %}
    <link rel="stylesheet" href="./assets/css/home.css">
{% endblock %} 

{% block main %}
    {% include "./pages/home/_home.njk" %}
{% endblock %}
