{% extends "./templates/base-template.njk" %}

{% block css %}
    <link rel="stylesheet" href="./assets/css/teams.css">
{% endblock %} 

{% block main %}
    {% include "./pages/teams/_teams.njk" %}
{% endblock %}
