<!DOCTYPE HTML>
<html>

    <head>
        <title>Formula 1</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/assets/css/main.css">
        
        {% block css %}
        {% endblock %}

        <script src="/shared/menu.js" defer></script>

        {% block script %}
        {% endblock %}
    </head>

    <body data-body>

    	{% include "../shared/menu.njk" %}

        <div class="page">
            {% block main %}
            {% endblock %}
        </div>

        {% include "../shared/footer.njk" %}
        
    </body>

</html>