<div class="home__aside__banner">
    <div class="home__aside__banner__item">
        <h1 class="home__aside__banner__item__title">FORMULA 1</h1>
        <p class="home__aside__banner__item__text">Reflecting on Verstappen and Red Bull’s latest victory, and how close they are to taking overall honours, Horner said: “I think the whole team this year has delivered at such a high level. Our performance this weekend… I think we had the quickest race car; we compromised quali slightly to have that better race car and it paid off.</p>
        <p class="home__aside__banner__item__text">But despite Verstappen now sitting 116 points clear of Leclerc, and Red Bull leading Ferrari by 139, Horner is taking nothing for granted as the Milton Keynes-based team attempt to clinch both titles for the first time since 2013.</p>
    </div>
    <div class="home__aside__banner__item">
        <img class="home__aside__banner__item__image" src="./assets/images/banner/image-2.jpg">
    </div>
</div>