<div class="home">
    <div class="home__aside">
        {% include "./_banner.njk" %} 
    </div>
    <div class="home__aside">
        {% include "./_highlights.njk" %} 
    </div>
    <div class="home__aside">
        {% include "./_cards.njk" %} 
    </div>
</div>