<div class="success -notFound">
    <h1 class="success__header -error -notFoundHeader">404</h1>
    <p class="success__text -error">Page not found.</p>
    <a class="success__link -error -error-link -margin" href="/home">Home</a>
</div>