@import "variable.scss";

.pilot {
    margin: 50px 0px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: $mobile){
        max-width: 370px;
    }

    &__header {
        margin: 0px;
        font-size: 42px;
        color: white;
    }

    &__aside {
        margin: 50px 0px 0px 0px;
        width: 100%;
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        @media only screen and (max-width: $mobile){
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 370px;
        }

        &__detail {
            width: 100%;
            max-width: 600px;

            @media only screen and (max-width: $mobile){
                max-width: 370px;
            }

            &__image {
                width: 100%;
                height: auto;
            }

            &__text {
                margin: 0px 0px 10px 0px;
                padding: 0px 0px 0px 50px;
                color: white;
                font-size: 32px;

                & strong {
                    color: red;
                }
            }

            & h2 {
                font-size: 36px;
            }
        }
    }
}

#totalPodiumsPie {
    width: 100%;
    max-width: 600px;
    height: auto;

    @media only screen and (max-width: $mobile){
        max-width: 370px;
    }
}