$Red-Bull-Racing: #3671C6;
$Scuderia-Ferrari: #F91536;
$Mercedes-AMG-Petronas-F1-Team: #6CD3BF;
$McLaren-F1-Team: #F58020;
$Haas-F1-Team: #B6BABD;
$Williams-Racing: #37BEDD;
$Scuderia-AlphaTauri: #5E8FAA;
$Alfa-Romeo-F1-Team-ORLEN: #c92d4b;
$Aston-Martin-Aramco-Cognizant-F1-Team: #358C75;
$BWT-Alpine-F1-Team: #2293D1;

$mobile: 700px;
$desktop: 1240px;
